/* ============================================= */
/* Color Variables */
/* ============================================= */

$torquoise        :    #58e1c1;
$maya-blue        :    #51ddfc;
$froly            :    #e4757a;
$lilac-bush       :    #927bc1;
$coral            :    #fd7856;
$grey             :    #777;
$white            :    #fff;
$light-grey       :    #ccc;
$wet-ashpahlt     :    #2c3e50;



/* ============================================= */
/* Breakpoint Variables */
/* ============================================= */

$tablet-breakpoint: 768px;


/* ============================================= */
/* Typography Variables */
/* ============================================= */

$font-lato: 'Lato', sans-serif;